/.idea/
/.vscode/

/bitrix/
/bitrix

/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/cache/
/bitrix/updates/
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/license_key.php
/bitrix/html_pages/
/bitrix/site_checker_*.log
/bitrix/modules/*.log
/bitrix/modules/*.dat
/bitrix/tmp/
/bitrix/js/imopenlines_widget/
/bitrix/backup/
/bitrix/backup

/images/
/images
/upload/
/upload

/phpmyadmin/
/phpmyadmin
/phpMyAdmin/
/phpMyAdmin


/*.log
/*.txt
/.htaccess
/.htaccess.restore
/.htsecure
/.bash_history
/*.sql
/.well-known/
/*.pem
/restore.php

composer.phar
node_modules
*.tar.gz
*.tar
*.gz
*.zip
*.enc
*.enc.*
Thumbs.db
.DS_Store
yandex_*.html
google*.html
.php-cs-fixer.cache
*.mp4

/local/vendor/
/local/php_interface/dev.php

/logs/
/log/
/test*/
/extranet/test*/
/local/.phpunit.cache/
/local/.phpunit.result.cache
